<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.okgo.goodhelper.mapper.AlumniMapper" >
  <resultMap id="BaseResultMap" type="com.okgo.goodhelper.pojo.Alumni" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="user_id" property="user_id" jdbcType="INTEGER" />
    <result column="alumni_id" property="alumni_id" jdbcType="INTEGER" />
    <result column="faculty" property="faculty" jdbcType="VARCHAR" />
    <result column="major" property="major" jdbcType="VARCHAR" />
    <result column="classes" property="classes" jdbcType="VARCHAR" />
    <result column="number" property="number" jdbcType="VARCHAR" />
    <result column="alm_name" property="alm_name" jdbcType="VARCHAR" />
    <result column="create_time" property="create_time" jdbcType="VARCHAR" />
  </resultMap>

  <insert id="insertAlumni" parameterType="com.okgo.goodhelper.pojo.Alumni">
    insert into alumni(user_id, alumni_id, faculty,major,classes, number,alm_name,create_time)
    values (#{user_id,jdbcType=INTEGER}, #{alumni_id,jdbcType=INTEGER}, #{faculty,jdbcType=VARCHAR},
    #{major,jdbcType=VARCHAR}, #{classes,jdbcType=VARCHAR}, #{number,jdbcType=VARCHAR},#{alm_name,jdbcType=VARCHAR},#{create_time,jdbcType=VARCHAR})
  </insert>

  <insert id="addAlumni"  useGeneratedKeys="true" >

    insert into alumni (`user_id`, `faculty`,`major`,`number`,`alm_name`,`create_time`)
    values (#{user_id,jdbcType=INTEGER},#{faculty,jdbcType=VARCHAR},
    #{major,jdbcType=VARCHAR},#{number,jdbcType=VARCHAR},#{alm_name,jdbcType=VARCHAR},#{create_time,jdbcType=VARCHAR})
  </insert>
  <select id="selectAlumniAll" parameterType="com.okgo.goodhelper.pojo.Alumni">

    select * from alumni

  </select>
  
  <select id="getAlumniByAlumniId" parameterType="java.lang.Integer" resultMap="BaseResultMap" resultType="Alumni">
    select * from alumni where user_id = #{user_id}
  </select>



</mapper>