<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.okgo.goodhelper.mapper.FeedBackMapper" >


  <insert id="InsertFeedBack"  useGeneratedKeys="true">

    insert into feedback (`article`, `create_time`,`user_id`)
    values (#{article,jdbcType=VARCHAR},#{create_time,jdbcType=VARCHAR},
    #{user_id,jdbcType=INTEGER})
  </insert>




</mapper>